:root {
    --pri-color: brown;
    --hover-pri-color: rgb(122, 31, 31);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ico-text a, .ico-text span {
    font-size: 14px;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

/* icons */
i.small {
    font-size: 20px;
}
i.medium {
    font-size: 35px;
}
i.big {
    font-size: 50px;
}
i.small-space-r {
    margin-right: 10px;
}
i.big-space-r {
    margin-right: 25px;
}


/* full screen */
.sec {
    display: flex;
    height: 100vh;
}

/* left panel */
.left-panel {
    flex: 1 2 55%;
    min-width: 30%;

    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5%;
    
    background-image: url("./images/alat.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-left-panel{
    min-height: 19%;
    max-height: 30%;
    color: #fff;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner-left-panel .top-text h3{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
}
.inner-left-panel .top-text p{
    font-weight: 0;
    font-size: 13px;
}

/* right panel */
.right-panel {
    flex: 1 1 45%;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 80%;
    max-height: 85%;
}
.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75%;
    padding-bottom: 8%;
}

.top-box{
    flex: 1;
}
.top-box a{
    color: var(--pri-color);
    text-decoration: none;
}
.top-box a:hover {
    text-decoration: underline;
}
.middle-box {
    flex: 1.5;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 380px;
    /* max-width: 100px; */
}

.bottom-box{
    flex: 1;
    display: inherit;
    align-items: center;
    font-size: 13px;
}
.bottom-box a{
    color: var(--hover-pri-color);
    font-weight: 900;
    text-decoration: none;
}

.middle-box h2 {
    font-weight: 500;
    font-size: 22px;
}
.line {
    display: block;
    height: 4px;
    width: 11%;
    background-color: var(--pri-color);
    margin-top: 10px;
}
.cent{
    display: flex;
    flex-direction: column;
    color: var(--pri-color);
    font-size: 13px;
}
.cent a {
    color: var(--pri-color);
    text-decoration: none;
}
.cent label, .cent a {
    margin-bottom: 4px;
}
.cent div {
    display: inherit;
    justify-content: space-between;
}
input {
    margin-block: 2px;
    min-width: 100%;
    min-height: 45px;
    border-radius: 4px;
    border: .2px solid var(--pri-color);
    padding-inline: 10px;
    outline: none;
}
input[type="submit"] {
    color: #fff;
    background-color: var(--pri-color);
    border: none;
    transition: .1s ease-in-out;
}
input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--hover-pri-color);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}


/* fixed - fixed */
.abs {
    position: fixed;
    bottom: 0;
    right: 15px;

    border-radius: 15px 15px 0 0;
    background-color: transparent;
    border: .1px solid rgba(66, 62, 62, .3);
    padding: 10px 8px;
    z-index: 1000;
    visibility: hidden;
}
.abs:hover {
    cursor: pointer;
    border: none;
}

.abs-box {
    position: fixed;
    bottom: 30px;
    right: 20px;

    max-width: 650px;
    min-height: 300px;
    padding: 30px;
    background-color: #fff;
    border: none;
    border-radius: 20px;

    /* angle distance spread darker*/
    box-shadow: 0px 0px 2px rgba(122, 31, 31, .4);
    visibility: visible;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.abs-box p {
    font-size: 15px;
}
.abs-box .cen {
    display: block;
    margin-inline: auto;
}
.flex-cen {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.flex-cen button:focus{
    background-color: var(--pri-color);
    color: #fff;
    outline: none;
}
.flex-cen button{
    flex: 1;
    padding: 10px;
    font-size: 15px;
    max-width: 32.5%;
    cursor: pointer;
    color: var(--pri-color);

    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}
.darker{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    
    visibility: visible;
}

/**  when using hover instead of
 *   the js in the html 
 */
/* .abs:hover ~ .darker,
.abs:hover ~ .abs-box {
    visibility: visible;
} */

@media (max-width: 520px) {
    .right-panel {
        min-width: 5%;
    }
    .box {
        min-width: 10%;
    }
    .middle-box {
        width: 10px;
    }
}


@media (min-width: 520px) and (max-width: 1024px) {
    .left-panel {
        flex: 1;
    }
    .right-panel {
        flex: 1.4;
    }
    .middle-box {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .sec {
        flex-direction: column;
    }
    .left-panel {
        display: none;
    }
}

