
:root{
    --link-color: blue;
    /* --link-boldness:  */
}
a {
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 8px 20px;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    font-size: medium;
    border-radius: 70px;
    cursor: pointer;
}

.link-style {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

.login-sec{
    min-height: 100vh;
    display: flex;
    width: 100%;
    max-width: 100%;
}

.left-pan {
    flex: 2 30 60%;
    background-color: rgb(82, 82, 212);
    display: flex;
    justify-content: right;
    align-items: center;
}
.switch-opt {
    margin-bottom: 40%;
}
.switch-opt div {
    padding: 30px;
    margin-block: 20px;
    background-color: rgba(243, 215, 182, .1);
    border-radius: 30px 0 0 30px;
    cursor: pointer;
}
.switch-opt div:hover {
    background-color: rgba(243, 215, 182, .8);
}
.switch-opt div a {
    color: #fff;
    font-weight: 500;
}

.switch-opt div:hover ~ .switch-opt div a {
    color: blue;
}
.right-pan {
    flex: 1.5 0 40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.top-right {
    flex: 7 0;
    background-color: bisque;
    border-radius: 0 0 0 25%;
    box-shadow: 1px 7px 5px rgba(0,0,0,.1);

    display: flex;
}

.centered-box {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    margin: auto;
}

.top-right input {
    margin-block: 10px;
    padding: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: large;
}
.centered-box .flex-row {
    margin-top: 20px;
}

.top-right input:focus {
    border: none;
}

.background-right {
    flex: 1 .5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 110px;
}

