:root{
    --default-bg: #0d1117;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4493f8;
}

.sec {
    min-height: 100vh;
    padding-top: 28px;
    background-color: var(--default-bg);
    color: white;
}

.flex-only {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-cen-top {
    justify-content: flex-start;
    align-items: center;
}

.flex-cen {
    justify-content: center;
    align-items: center;
}
.flex-left{
    justify-content: flex-start;
    align-items: start;
}

.full-height {
    height: 100%;
}

.logo {
    width: 45px;
    height: 45px;
}

.mrg-block {
    margin-block: 10px;
}

.cont-box {
    min-width: 290px;
    border: .8px solid rgba(238, 228, 228, 0.2);
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
}
.cont-box:nth-child(2) {
    background-color: rgba(238, 228, 228, 0.05);
}

.cont-box:nth-child(3) a:hover {
    text-decoration: underline;
}


.mrg-block:nth-last-child(1){
    margin-top: 4.5%;
}
.mrg-block:nth-last-child(1) a{
    margin-inline: 10px;
    color: #9198a1;
    font-size: 12px;
}
.mrg-block:nth-last-child(1) a:hover{
    color: #4493f8;
    text-decoration: underline;
}

.top-header {
    font-weight: 100;
}
