* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-img {
    height: 40px;
    width: 40px;
}

.big-container {
    max-height: 100vh;
    /* min-height: 100vh; */
    /* background-color: blue; */

    display: flex;
    flex-direction: row;
}

.right-panel {
    flex: 7.5;
    height: 100vh;
    padding: 18px;
    background-color: #191717;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.right-panel button {
    color: #fff;
}

.left-panel {
    flex: 1.5;
    height: 100vh;
    background-color: blue;
}

.top-part {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.middle-part {
    min-height: 24%;
    max-width: 90%;
    min-width: 70%;
}
.inner-middle-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.inner-middle-part h1{
    font-weight: 580;
}

.footer-part {
    text-align: center;
}

.top-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 13px;
    border-radius: 15px;
}
.top-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.rotate {
    display: inline-block;
    transform: rotate(90deg);
}
.text-box i {
    font-size: 29px;
}
.text-box i:nth-child(1) {
    font-size: 23px;
    padding: 5px;
    border-radius: 7px;
}
.text-box i:nth-child(1):hover {
    background-color: #191717;
    cursor: pointer;
}
.text-box {
    width: 75%;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}
.prompt-box {
    background-color: transparent;
    color: #fff;
    width: 100%;
    border: none;
    word-wrap: break-word;
    min-height: 1.5rem;
    overflow-y: auto;
    padding-top: 15px;
    max-height: 5rem;
    outline: none;
    resize: none;
}

.text-buttons button {
    background-color: transparent;
    font-size: 16px;
    border-radius: 20px;
    border: .8px solid rgb(109, 114, 109);
    color: rgb(109, 114, 109);
    padding:  11px 15px;
}
.text-buttons button:hover {
    cursor: pointer;
    color: white;
    border: .8px solid rgba(109, 114, 109, 0.5);
    background-color: rgba(109, 114, 109, 0.3);
}
.bi{
    font-weight: bolder;
}
.bi-card-image{
    color: green;
}.bi-box-seam, .bi-bar-chart{
    color: blue;
}.bi-clipboard2 {
    color: orange;
}